<a href="https://colab.research.google.com/github/CharlesPrado23/Bootcamp2oSemestre2021/blob/main/Semana4/Pandas(Intro).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Pandas

In [1]:
import pandas as pd
import numpy as np

# Creating new DataFrames - Dictionary

In [ ]:
data={'student': ['João','José','Maria','Ana'], 'year':[1,2,3,1], 'marks':[9.8,6.7,8,9.9]}
dataflair_df=pd.DataFrame(data)
dataflair_df

In [ ]:
mean = dataflair_df['marks'].mean()
mean
#notas = np.array(dataflair_df['marks'])
#media_notas = np.mean(notas)
#print(media_notas)

In [ ]:
dataflair_df['year']

# Reading csv from URL

In [ ]:
url = ('https://raw.github.com/pandas-dev'
...: '/pandas/master/pandas/tests/io/data/csv/tips.csv')

In [ ]:
tips = pd.read_csv(url)

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
var = tips[tips.duplicated() == True]
var

     total_bill  tip     sex smoker   day   time  size
202        13.0  2.0  Female    Yes  Thur  Lunch     2

In [ ]:
# duplicatas ou entradas repetidas
duplicada = tips.loc[0:100]
duplicada

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
96        27.28  4.00    Male    Yes  Fri  Dinner     2
97        12.03  1.50    Male    Yes  Fri  Dinner     2
98        21.01  3.00    Male    Yes  Fri  Dinner     2
99        12.46  1.50    Male     No  Fri  Dinner     2
100       11.35  2.50  Female    Yes  Fri  Dinner     2

[101 rows x 7 columns]

In [ ]:
tips = tips.append(duplicada)

In [ ]:
tips

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
96        27.28  4.00    Male    Yes  Fri  Dinner     2
97        12.03  1.50    Male    Yes  Fri  Dinner     2
98        21.01  3.00    Male    Yes  Fri  Dinner     2
99        12.46  1.50    Male     No  Fri  Dinner     2
100       11.35  2.50  Female    Yes  Fri  Dinner     2

[345 rows x 7 columns]

In [ ]:
tips.duplicated().sum()

102

In [ ]:
tips.drop_duplicates(inplace = True)
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

In [ ]:
# valores unicos
tips['time'].unique()

array(['Dinner', 'Lunch'], dtype=object)

In [ ]:
tips['size'].unique()

array([2, 3, 4, 1, 6, 5])

# Tópicos:

- read_csv()
-head()
-tail()
- dtype()
- describe()
- info()
- map(type)
- isna() # verificar valores nulos no df
- .loc[index, 'nome da coluna']
- iloc[Idx,Idy]
- groupby()
- plot.bar, plot.scatter
- corr()
 
- dropna()

- duplicated()
- drop_duplicates()

- unique()

In [ ]:
type(tips)

In [ ]:
tips.dtypes

In [ ]:
tips.info()

In [ ]:
tips["smoker"].map(type)

In [ ]:
type(10) == int

In [ ]:
for row in tips["smoker"]:
    if type(row) != str:
      print(type(row))

In [ ]:
tips

In [ ]:
tips.loc[0,"size"] = '2'
tips.loc[100,"size"] = '5'

In [ ]:
tips.info()

In [ ]:
tips["size"].map(type)

In [ ]:
#def RetornoInd(obj):
lista = []
idx=0
for row in tips["size"]:
  if type(row) != int:
    lista.append(idx)
  idx+=1

In [ ]:
lista

In [ ]:
#def RetornoInd(obj):
lista = []

for idx,row in enumerate(tips["size"]):
  if type(row) != int:
    lista.append(idx)

In [ ]:
lista

In [ ]:
def rIndex(obj):
  lista = []

  for idx,row in enumerate(obj):
    if type(row) != int:
      lista.append(idx)
  return

rIndex(tips["size"])

In [ ]:
lista = [indice for indice, row in enumerate(tips["size"]) if type(row) != int]
lista

In [ ]:
tips.loc[0,"size"]

In [ ]:

for row in lista:
  if tips.loc[row,"size"].isnumeric():
    tips.loc[row,"size"] = int(tips.loc[row,"size"])

In [ ]:
tips.info()

In [ ]:
tips.head()

In [ ]:
tips["size"]=tips["size"].astype(int)

In [ ]:
tips.info()

In [ ]:
tips

In [ ]:
tips.head()

In [ ]:
tips.tail()

In [ ]:
tips.describe()

# Type - DataFrame / Series

In [ ]:
type(tips)

In [ ]:
type(tips["smoker"])

   # Creating New DataFrames 
       # Two examples

In [ ]:
df2 = tips[['sex','day']]
df2

In [ ]:
df3 = tips.sex ## tips['sex']
df3

In [ ]:
tips

In [ ]:
tips.loc[0:1,'sex']

In [ ]:
tips.loc[3,'size']

In [ ]:
tips.iloc[4,0]

In [ ]:
tips.iloc[4,2:5]

In [ ]:
tips[['total_bill', 'tip', 'smoker', 'time']].head(5)

In [ ]:
tips[tips['time'] == 'Dinner'].head(5)

In [ ]:
tips_by_sex = tips.groupby('sex').size()
tips_by_sex

In [ ]:
tips_by_sex.plot.bar(rot=0);

In [ ]:
tips_1 = tips.groupby('day').agg({'total_bill': np.max})
tips_1

In [ ]:
tips_1.plot.pie(y='total_bill');

In [ ]:
df1 = pd.DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'], 'rank': range(1, 4)})
df2 = pd.DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles'], 'rank': [1, 4, 5]})

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
pd.concat([df1, df2])

In [ ]:
DataFrame = pd.concat([df1, df2]).drop_duplicates()
DataFrame

In [ ]:
DataFrame.reset_index(inplace = True)
DataFrame

In [ ]:
tips.to_csv('tips2.csv')

In [ ]:
df_data = pd.read_csv('http://mscbio2025.csb.pitt.edu/files/Spellman.csv')
df_data.columns

In [ ]:
df_data.head()

In [ ]:
df_data.dtypes

In [ ]:
df_T = df_data.set_index('time').transpose()
df_T

In [ ]:
df_T[['YAL001C','YAL014C']].plot()

In [ ]:
df_T.plot.scatter(x="YAL001C", y="YAL014C", alpha=0.5 )

In [ ]:
df_T.columns

In [ ]:
df_T[['YAL001C','YAL022C','YAL016W','YAL020C','YAL014C']].corr()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(12,10))
sns.heatmap(df_T[['YAL001C','YAL022C','YAL016W','YAL020C','YAL014C']].corr().round(3))

In [ ]:
df = pd.DataFrame(dict(age=[5, 6, np.NaN],born=[pd.NaT, pd.Timestamp('1939-05-27'),pd.Timestamp('1940-04-25')],
               name=['Alfred', 'Batman', ''],
                  toy=[None, 'Batmobile', 'Joker']))

In [ ]:
df

In [ ]:
A = df['age']
A
B = A/2
B

In [ ]:
df.isna()

In [ ]:
plt.scatter(df_T['YAL014C'],df_T['YAL001C'])